/* style.css */
/* Had to use water.css as the name of the css 
because I copied assignment 4 as per the instruction 
and npm only executes water.css */

/*Import font*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #bbd3b3;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

main {
  padding-bottom: 30%;
}

header,
footer {
  text-align: center;
}

header {
  padding-bottom: 20px;
}

#menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

button {
  background-color: #1d2939;
  color: white;
  width: 100px;
  height: 45px;
  border-radius: 9px;
}

button:hover {
  background-color: #b76347;
  color: lightsalmon;
  cursor: pointer;
}

#selected-artist {
  display: flex;
  justify-content: center;
}

.artist-info {
  display: flex;
  flex-wrap: wrap;
}

.artist-image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  padding: 10px;
}

.artist-name-socials {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.artist-name {
  font-size: 1em;
  margin: 0;
  padding-bottom: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
}

.social-link-image {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d2939;
  border-radius: 30px;
  padding: 16px;
  width: 215px;
  height: 350px;
}

.card:hover {
  background-color: #344054;
  .card-title {
    color: lightsalmon;
  }
  cursor: pointer;
}

.card-image {
  width: auto;
  height: auto;
  border-radius: 40px;
}

.card-title {
  font-size: 1.2em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.card-year-duration {
  float: left;
}

.card-year {
  font-size: 0.9em;
  color: #98a2b3;
  margin-top: auto;
}

.card-duration {
  font-size: 0.9em;
  color: #98a2b3;
  text-align: left;
}

footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
